In [1]:
#task 1
class student_result:
    def inpuT(self):
        self.name=input("Enetr name :")
        self.roll_no=int(input("Enter roll no : "))
        self.cp=int(input("Enter marks obtained in CP : "))
        self.oop=int(input("Enter marks obtained in OOP : "))
        self.caed=int(input("Enter marks obtained in CAED : "))
    def show(self):
        print("Displaying Student Data...")
        print("Name : ",self.name)
        print("Roll no. : ",self.roll_no)
        print("CP marks : ",self.cp)
        print("OOP marks : ",self.oop)
        print("CAED marks : ",self.caed)
    def total(self):
        return self.oop+self.cp+self.caed
    def average(self):
        return (self.oop+self.cp+self.caed)/3
      
#main
s1=student_result()
s1.inpuT()
s1.show()
t1=s1.total()
print("Total is : ",t1)
print("Average is : ",s1.average())

s2=student_result()
s2.inpuT()
s2.show()
t2=s2.total()
print("Total is : ",t2)
print("Average is : ",s2.average())

if t2 > t1 :
    print("Hassan has obtained more marks.")
else:
    print("Ali has obtained more marks.")

Enetr name :Ali
Enter roll no : 200
Enter marks obtained in CP : 98
Enter marks obtained in OOP : 89
Enter marks obtained in CAED : 89
Displaying Student Data...
Name :  Ali
Roll no. :  200
CP marks :  98
OOP marks :  89
CAED marks :  89
Total is :  276
Average is :  92.0
Enetr name :Hassan
Enter roll no : 87
Enter marks obtained in CP : 68
Enter marks obtained in OOP : 89
Enter marks obtained in CAED : 88
Displaying Student Data...
Name :  Hassan
Roll no. :  87
CP marks :  68
OOP marks :  89
CAED marks :  88
Total is :  245
Average is :  81.66666666666667
Ali has obtained more marks.

In [2]:
#task 2
with open("CAED Lab 11.txt","r") as c:
    text=c.read()
print(text)

The sun is a huge ball of gases. It has a diameter of 1,392,000 km. It is so huge that it can hold millions of planets inside it.
The Sun is mainly made up of hydrogen and helium gas. The surface of the Sun is known as the photosphere.
The photosphere is surrounded by a thin layer of gas known as the chromospheres. Without the Sun, there would be no life on Earth.
There would be no plants, no animals and no human beings. As, all the living things on Earth get their energy from the Sun for their survival.

In [3]:
#task3
import Grade
Grade.grade_check(45)

D

In [4]:
#task4 
import json
students={'s1':{'Name':'student1','Roll no':'300','Gpa':'3.3'},'s2':{'Name':'student2','Roll no':'301','Gpa':'3.4'}}

with open("students.json","w") as s:
    json.dump(students,s)

with open("students.json") as s:
    students=json.load(s)

print(students)

{'s1': {'Name': 'student1', 'Roll no': '300', 'Gpa': '3.3'}, 's2': {'Name': 'student2', 'Roll no': '301', 'Gpa': '3.4'}}

In [5]:
#task 5
import csv 
import pandas as pd

with open("CAED lab11 task5.csv", "w", newline="") as f:
    data_handler = csv.writer(f, delimiter=",")   #special object
    data_handler.writerow(['Year', 'Host(s)', 'Final Venue', 'Winner', 'Runner-up'])
    data_handler.writerow(['2007', 'South Africa', 'Johannesburg', 'India','Pakistan'])
    data_handler.writerow(['2009', 'England', 'London', 'Pakistan','Sirilanka'])
    data_handler.writerow(['2010', 'West Indies', 'Bridgetown', 'England','Australia'])
    data_handler.writerow(['2012', 'Sirilanka', 'Colombo', 'West Indies','Sirilanka'])

df = pd.read_csv("CAED lab11 task5.csv")
print(df)
    
with open("CAED lab11 task5.csv", "a", newline="") as f:
    data_handler = csv.writer(f, delimiter=",")   #special object
    data_handler.writerow(['2014', 'Bangladesh', 'Dhaka', 'Sirilanka','India'])
    data_handler.writerow(['2016', 'India', 'Kolkata', 'West Indies','England'])

print("\nAfter appending...\n")
app = pd.read_csv("CAED lab11 task5.csv")
print(app)

   Year       Host(s)   Final Venue       Winner  Runner-up
0  2007  South Africa  Johannesburg        India   Pakistan
1  2009       England        London     Pakistan  Sirilanka
2  2010   West Indies    Bridgetown      England  Australia
3  2012     Sirilanka       Colombo  West Indies  Sirilanka

After appending...

   Year       Host(s)   Final Venue       Winner  Runner-up
0  2007  South Africa  Johannesburg        India   Pakistan
1  2009       England        London     Pakistan  Sirilanka
2  2010   West Indies    Bridgetown      England  Australia
3  2012     Sirilanka       Colombo  West Indies  Sirilanka
4  2014    Bangladesh         Dhaka    Sirilanka      India
5  2016         India       Kolkata  West Indies    England